body {
  margin: 0;
  padding: 20px;
  font-family: system-ui, -apple-system, Roboto, "Segoe UI", sans-serif;
  /* background: #121212; */
  /* color: #ccc; */
}

.container {
    max-width: 900px;
    margin: auto;
    box-sizing: border-box;
}

.menu {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
    font-size: 1.1rem;
}

h1, h2 {
    font-weight: 600;
    margin: 20px 0 10px;
}

.versions {
    margin: 10px 0 20px;
    line-height: 1.6;
    font-family: "JetBrains Mono", monospace;
    font-size: 0.95rem;
}

.good {
    color: #00ff00;
}

.bad {
    color: #ff0000;
}

.code-container {
    position: relative;
    margin-top: 10px;
}

.copy-btn {
    position: absolute;
    top: -45px;
    right: 0;
    padding: 6px 14px;
    border-radius: 10px;
    border: 2px solid #aaaaaa;
    background: #0d0d0d;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.2s;
}

.copy-btn:active {
    transform: scale(0.96);
}

.pre-code-box {
    color: #ccc;
    background: #222;
    font-size: 0.9rem;
    padding: 0.5em;
}

/* code { */
/*   border: unset; */
/*   overflow: auto; */
/*   font-family: monospace; */
/* } */

.title {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: grey;
}

